

@import './custom_style/custom';
html{
    scroll-behavior: smooth;
    font-size: 13px;
    height: 100%; 

}





body{
    font-family: 'Poppins', sans-serif;
    height: 100%; 
    margin: 0;
    //  font-family: "Roboto", "Helvetica Neue", sans-serif;
    &::-webkit-scrollbar
    {
        width: 15px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
        border-radius: 15px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.548);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.548);
        background-color: rgba(0, 0, 0, 0.986);
    }
    &::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 5px gray;
        border-radius: 15px;
    }
}

.form-control{
    font-size: 1.2rem;
}



*{
    text-decoration: none !important;
}

a{
    cursor: pointer !important;
}

section{
    padding-top: 80px;
}

mat-dialog-container{
    background: white !important;

}
@media only screen and (max-width: 600px) {
    mat-dialog-container{
        width: 90% !important;
    
    }
  }


.ql-container{
    font-size: 1.5rem !important;

}