

@import './custom_style/custom';
html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Poppins', sans-serif;
    height: 100%; 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

*{
    text-decoration: none !important;
}

a{
    cursor: pointer !important;
}

section{
    padding-top: 50px;
}

mat-dialog-container{
    background: white !important;

}
@media only screen and (max-width: 600px) {
    mat-dialog-container{
        width: 90% !important;
    
    }
  }


.ql-container{
    font-size: 1.5rem !important;

}