@use '../../../custom_style/global_variable' as *;
@use '../../../custom_style/mixin' as *;

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.navbar{
    @include gradient;
    padding: 20px;
    &-brand{
        font-family: fantasy;
        font-size: 2rem;
    }

    .nav-item{
        font-size: 1.5rem;
        transition: color .3s;
        color: white !important;


        a{
            color: white !important;
            font-size: 1.5rem;
        }
    }


    #Logo{
        font-family: 'Kaushan Script', cursive;
    }
}

.imgBx{

    width: 60px;
    height: 60px;
    img{
        border-radius: 50%;
        height: inherit;
    }

}

