@use '../../../custom_style/global_variable' as *;
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
.intro{
    background: url("../../../assets/images/header.png");
    background-position: center;
    background-size: cover;
    background-color:rgba($color: $primary, $alpha: .05);
    height: 100vh;
    padding-top: 6rem;
    position: relative;
}

.no-fill{
    color: transparent;
    -webkit-text-stroke: 0.1px #fff;
    font-size: 7rem;
}