<section>
    <div class="container pb-4">
        <div class="row">
            <div class="start-sec col-12 col-md-8">
                <div class="post-intro">
                    <div class="post-title">
                        <h1 class="fw-light display-4">{{post?.postTitle}}</h1>
                    </div>
                    <div class="postr-info d-flex pt-3">
                        <div class="imgBx me-2">
                            <img *ngIf="post?.photo" class="img-fluid bg-primary" [src]="post?.postrPhoto"
                                alt="post-photo">
                            <object *ngIf="!post?.photo" class="img-fluid"
                                data="../../../assets/images/user.svg"></object>
                        </div>
                        <div class="text">
                            <p class="mb-2 fw-light">written by: <span class="text-primary">{{post?.postrName}}</span>
                            </p>
                            <p class="fw-light">post date: {{post?.createdTime | date}}</p>
                        </div>

                    </div>
                </div>

                <div class="post-photo text-center shadow-lg mt-4">
                    <img class="img-fluid" [src]="post?.photo? post.photo : '../../../assets/images/no-img-post.png' "
                        alt="postrPhoto">
                </div>

                <div class="post-content">
                    <p #postContent>

                    </p>
                </div>



            </div>
            <div class="end-sec col-12 col-md-4">
                <p class="fs-2 lh-lg fw-light">{{post?.postrName}} also writes: </p>
                <div class="row ">
                    <div *ngFor="let post of userPosts" (click)="onPostClicked(post.postrName, post.id)"
                        style="cursor: pointer;" class="other-user-post col-6 col-md-12 col-lg-6">
                        <div class="imageBx">
                            <img class="img-fluid"
                                [src]="post?.photo ?post.photo :  '../../../assets/images/blog-2.jpg'" alt="">
                        </div>

                        <a class="fs-5 text-primary">{{post.postTitle}}</a>
                    </div>
                    <button (click)="getUserPosts(postrName)" *ngIf="pageNumber <= pagination.totalPages"
                        class="btn btn-outline-primary mt-2">more posts</button>


                </div>

            </div>
        </div>
    </div>
</section>


<!-- <div style="cursor: pointer;" class="col-6 col-md-12 col-lg-6">
    <img class="img-fluid" src="../../../assets/images/blog-2.jpg" alt="">

    <a class="fs-5 text-primary">wanna asd asd asd sa dsa das d asd asd change the world ?</a>

</div>
<div style="cursor: pointer;" class="col-6 col-md-12 col-lg-6">
    <img class="img-fluid" src="../../../assets/images/blog-2.jpg" alt="">

    <a class="fs-5 text-primary">how to speak</a>
</div>
<div style="cursor: pointer;" class="col-6 col-md-12 col-lg-6">
    <img class="img-fluid" src="../../../assets/images/blog-2.jpg" alt="">

    <a class="fs-5 text-primary">wanna change the world ?</a>

</div> -->