<div class="crd">
  <div class="crd-header">
    <img [src]="post.photo?post.photo: '../../../../assets/images/no-img-post.png'" alt="rover" />
  </div>
  <div class="crd-body">
    <span class="tag tag-teal">Technology</span>
    <h4>
      {{post.postTitle}}
    </h4>

    <p #lead class="lead"></p>

    <div class="footer">
      <div class="user">
        <img [src]="post?.postrPhoto" alt="user" />
        <div class="user-info">
          <h5>{{post.postrName}}</h5>
          <small>{{post.createdTime | date}}</small>
        </div>
      </div>
      <button routerLink='/post-detail/{{post.id}}' class="btn btn-outline-primary">Read</button>

    </div>

  </div>
</div>