@use '../../../../custom_style/global_variable' as *;
// * {
//   box-sizing: border-box;
// }
body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 0;
  // background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  // color: #10182f;
}
// .container {
//   display: flex;
//   width: 1040px;
//   justify-content: space-evenly;
//   flex-wrap: wrap;
// }
.crd {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.crd-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.crd-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;

  &_head{
    transform-origin: 1000px;

    i{
      font-size: 1.5rem;
      cursor: pointer;
      color: red;
    }
  }

  .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 0.4rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.crd-body p {
  font-size: 1rem;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}


@keyframes gell-git{
  0%{
    color: red;
    transform: scale3d(1, 1, 1);

  }
  50%{
    color: $primary;
    transform: scale3d(1.5, 1.5, 1.5);

  }

  100%{
    color: red;
    transform: scale3d(1, 1, 1);


  }
}
.fa-heart{
  animation-name: gell-git;
  animation-duration: 1s;
  animation-iteration-count: 1;

}