<div class="crd">
  <div class="crd-header">
    <img [src]="post.photo?post.photo: '../../../../assets/images/no-img-post.png'" alt="rover" />
  </div>
  <div class="crd-body">
    <div class="crd-body_head d-flex justify-content-between w-100">
      <span class="tag tag-teal">{{post.postCategory ? post.postCategory : "Not-specified"}}</span>
      <div class="icons">
        <i *ngIf="user && user.userName != post.postrName" (click)="likePost(post.id)" [class]="likeClass"
          aria-hidden="true"></i>
        <i *ngIf="user && user.userName == post.postrName" (click)="do(post.id)" class="fa fa-trash text-danger me-2"
          aria-hidden="true"></i>
        <i routerLink="/createPost/{{post.id}}" *ngIf="user && user.userName == post.postrName"
          class="fa fa-pencil text-dark" aria-hidden="true"></i>

      </div>




    </div>

    <h4>
      {{post.postTitle}}
    </h4>

    <p #lead class="lead"></p>

    <div class="footer">
      <div class="user">
        <img [src]="post?.postrPhoto" alt="user" />
        <div class="user-info">
          <h5>{{post.postrName}}</h5>
          <small>{{post.createdTime | date}}</small>
        </div>
      </div>
      <button routerLink='/post-detail/{{post.postrName}}/{{post.id}}' class="btn btn-outline-primary">Read</button>

    </div>

  </div>
</div>