
        //   mat-dialog-content,mat-dialog-title{
        //     background-color: burlywood !important;
        //  }
        //  h2{
        //                  background-color: burlywood !important;

        //  }

mat-dialog-container{
    background: burlywood;
    width: 50%;
}

.let-sign-up{
    text-transform: capitalize;
    width: 200px;
    font-weight: 600;
    display: inline-block;
    background-clip: text;
    background-image: linear-gradient(to right, #9926f0, #d122e3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


@media (max-width:500px) {
    mat-dialog-container{
        width: 70%;
    }

}

.imgBx{
    width: 150px;

}
